.container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSec);
    align-items: center;
    justify-content: space-between;
}

.title {
    color: var(--textSec);
    font-weight: bold;
    text-transform: capitalize;

}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;

}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #2e374a;
    border-radius: 10px;
    padding: 10px;
}

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
}

.icon {
    display: flex;
    gap: 20px;
}